.main-footer {
  background-color: #bf2a2a;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: auto;
  width: 100%;
  flex-shrink: 0;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.footer-link:hover { text-decoration: underline; }
.main-footer span:hover { text-decoration: underline; }