.TarjetaHome {
    width: 20%;
    height: auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid gray;
}