/* ESTILOS DEL LOGIN*/
.login-container {
  background-color: #bf2a2a;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.login-card {
  background-color: white;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
}

.icons-container {
  font-size: 40px;
  display: flex;
  gap: 140px;
  color: black;
  margin-bottom: 10px;
}
.buttons-container {
  display: flex;
  gap: 20px;
  width: 100%;
}
.btn-red {
  background-color: #bf2a2a;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  transition: background 0.3s;
}

.btn-red:hover {
  background-color: #a01e1e;
}
.btn-red-form {
  background-color: #bf2a2a;
  color: white;
  margin-left: 10px;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  transition: background 0.3s;
}
.btn-red-form:hover {
  background-color: #a01e1e;
}
.btn-black {
  background-color: #861d1d;
  color: white;
  margin-left: 40px;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  transition: background 0.3s;
}
.btn-black:hover {
  background-color: #561212;
}
.botones-separados {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}